.GE_Container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.GE_Container label {
  color: #eee;
  display: block;
  margin-top: 10px;
}
.GE_Container input {
  margin-left: 5px;
  width: 80px;
  font-size: 18px;
}
